button {
    background-color: #eee;
    border: none;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 100px;
    margin-left: 0px;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-family: Arial, sans-serif;
  }
  
  button:hover {
    background-color: #cfd8dc;
  }
  
  button.delete {
    position: relative;
    left: 194px;
    top: -32px;
    background-color: gray !important;
    color: white;
  } 
